amqp==5.3.1
asgiref==3.8.1
attrs==25.3.0
autobahn==24.4.2
Automat==24.8.1
billiard==4.2.1
bleach==6.2.0
celery==5.4.0
cffi==1.17.1
cidr-trie==3.1.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
constantly==23.10.4
cron-descriptor==1.4.5
cryptography==44.0.2
daphne==4.1.2
distlib==0.3.9
Django==5.1.4
django-admin-appmenu==1.0.0
django-bower==5.2.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-celerybeat-status==1.0.1
django-colorfield==0.11.0
django-debug-toolbar==4.3.0
django-extensions==3.2.3
django-file-picker @ file:///home/bitnami/django_file_picker-0.9.6-py3-none-any.whl#sha256=00b8c1741be13e861bb14bb56052a3b86a44cf11f88bd00933368eb33950f06e
django-filter==24.3
django-js-asset==3.0.1
django-pgtrigger==4.13.3
django-prose-editor==0.10.3
django-scheduler==0.10.1
django-tables2==2.7.5
django-timezone-field==7.0
djangorestframework==3.15.2
djangorestframework-gis==1.1
filelock==3.16.1
hyperlink==21.0.0
icalendar==6.1.0
idna==3.10
incremental==24.7.2
kombu==5.4.2
msgpack==1.1.0
mysqlclient @ file:///bitnami/blacksmith-sandox/python-mysqlclient-2.2.5
netaddr==1.3.0
numpy==2.2.3
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.1.1
psycopg2 @ file:///bitnami/blacksmith-sandox/psycopg2-2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pyOpenSSL==25.0.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
pytricia==1.0.2
pytz==2024.2
redis==5.2.1
service-identity==24.2.0
setuptools @ file:///bitnami/blacksmith-sandox/setuptools-70.3.0
six==1.17.0
sorl-thumbnail==12.11.0
sqlparse==0.5.1
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.2
vine==5.1.0
virtualenv @ file:///bitnami/blacksmith-sandox/virtualenv-20.27.0
wcwidth==0.2.13
webencodings==0.5.1
zope.interface==7.2
