{% load static %}
<!DOCTYPE html>
{% csrf_token %}
<html lang="en">
  <head>
    <title>Commercial IP Ranges (aggregated)</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"/>
    <link
      rel="stylesheet"
      href="{% static 'map.css' %}"/>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet/dist/leaflet.css"
      crossorigin=""/>
    <script 
      src="https://unpkg.com/leaflet/dist/leaflet.js"
      crossorigin=""></script>
    <!-- CompassBlue layer handling -->
    <script type='module' defer src="{%static 'cb_layer.js' %}"
      crossorigin=""></script>
    <link
      rel="stylesheet" type="text/css"
      href="{% static 'css/split-container.css' %}">
  </head>
  <body>
    <div class="split-container">
        <div class="left-side">
            <h2>Aggregated Map</h2>
            <div id="map"></div>
            <p>Bounding Box: {{ map_bbox }} </p>
            <script type='module' defer src="{% static 'map.js' %}"></script>
        </div>
        <div class="right-side">
            <h2>IP Range Details</h2>
            <div id="table-stuff"></div>
            <form id="selected_tract_form" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form.errors }}
                {{ form.media }}
                {{ form.as_div }}
                <button id="myButton" type="submit">Submit</button>
            </form>
        </div>
  </body>
</html>
