<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Details Ping Strategy Page</title>
  </head>
  <body>
    <h1>{{ ping_range.ip_range.ip_range_start }}</h1>
    <ul>
        ID: {{ ping_range.id }}
    </ul>
    <p>Ping Strategy Configuration Details:</p>
    <!-- use of app_name = nys below, csrf = cross site request forgeries -->
    <form action="{% url 'app_centralny:configure_ping' ping_range.id %}" method="post">
    ip_range = models.ForeignKey(DeIpRange, on_delete=models.CASCADE)
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{  ping_range.ip_range.ip_range_start }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Configure">
    </form>
  </body>
</html>

