<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Details Ping Strategy Page</title>
  </head>
  <body>
    <h2>IP Survey: </h2>
    <h3>{{ object }}</h3>
    <h3>IP Ranges: </h3>
    {% if object.iprangeping_set %}
        <ul>
        {% for ip_range in object.iprangeping_set.all %}
            <li>{{ ip_range }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No IP ranges configured.</p>
    {% endif %}
    <!-- use of app_name = nys below, csrf = cross site request forgeries -->
    <form action="{% url 'app_centralny:approve_ping' object.id %}" method="post">
        {% csrf_token %}
        <!-- fieldset>
            <legend><h1>{{  object.ip_range.ip_range_start }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset -->
        <input type="submit" value="Approve / Schedule">
    </form>
  </body>
</html>

