<!doctype html>
{% load static %}
<link rel="stylesheet" href="{% static 'ny_viz/style.css' %}">
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Ping Strategy Page</title>
  </head>
  <body>
    <p>Survey Name (if any): </p>
    <p>List of IP ranges to ping:</p>
    {% if latest_ping_list%}
        <ul>
        {% for ping_range  in latest_ping_list %}
            <!-- MTW, note, this uses app_name=nys below -->
            <li><a href="{% url 'app_centralny:ping_strat_detail' ping_range.id %}">
                {{ ping_range.ip_range.ip_range_start }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Ping Ranges are available.</p>
    {% endif %}
  </body>
</html>

