<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
  </head>
  <body>
    <p>Sample HTML Page</p>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <!-- MTW, note, this uses app_name=nys below -->
            <li><a href="{% url 'app_nys:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No counties are available.</p>
    {% endif %}
  </body>
</html>

