<!doctype html>
{% load static %}
{% load navigation %}
<link rel="stylesheet" href="{% static 'ny_viz/style.css' %}">
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
  </head>
  <body>
    <p>Knowledge Graph (KG) Functions</p>
    {% if kg_apps %}
        <ul>
        {% for key, value in kg_apps.items %}
            <li><a href="{{ value }}">{{ key }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No apps configured.</p>
    {% endif %}
  </body>
</html>

