<!doctype html>
{% load static %}
{% load navigation %}
<link rel="stylesheet" href="{% static 'ny_viz/style.css' %}">
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
  </head>
  <body>
    <p>Sample HTML Page</p>
    <p>Test of class stuff</p>
    {% if kg_apps_list %}
        <ul>
        {% for app in kg_apps_list %}
            {% my_class_tag app %}
            <!-- MTW, note, this uses app_name=nys below -->
            <li>{{ app }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No apps configured.</p>
    {% endif %}
  </body>
</html>

