{% block title %}GISA | Compass Blue KGs | Single File (Page) Label{% endblock title %}
{% block description %}Text editor built on Django Prose {% endblock description %}

{% block content %}
<!doctype html>
    <!-- use of app_name = nys below, csrf = cross site request forgeries -->
    <p>Folder name: <b>{{ folder_name }}</b></p>
    <p>Page number: <b>{{ page_number }}</b></p>
    <p>Celery task for invoking prodigy ( {{task_id }} )</p>
    <p>Prodigy URL:  {{ prodigy_url}} </p>
    <table>
      <thead>
        <tr>
          <th>Shortcut-Key</th>
          <th>Annotation Behavior</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in prodigy_shortcuts.items %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <button type="submit" name="save">Save & Exit</button>
        <button type="submit" name="exit">Discard & Exit</button>
    </form>
{% endblock content %}
