{% block title %}GISA | Compass Blue KGs | Folder Upload{% endblock title %}
{% block description %}Description here {% endblock description %}

{% load static %}

{% block content %}
<!doctype html>
    <!-- use of app_name = nys below, csrf = cross site request forgeries -->
    <form method="post" enctype="multipart/form-data" 
        action="{% url 'app_kg_train:edit_file' folder_id %}">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.media }}
        {{ form.as_div }}
        <button id="myButton" type="submit">Submit</button>
    </form>
{% endblock content %}
