{% block title %}GISA | Compass Blue KGs | Single File (Page) Edit{% endblock title %}
{% block description %}Text editor built on Django Prose {% endblock description %}

{% block content %}
<!doctype html>
    <!-- use of app_name = nys below, csrf = cross site request forgeries -->
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.errors }}
        {{ form.media }}
        {{ form.as_div }}
        <button id="myButton" type="submit">Submit</button>
    </form>
{% endblock content %}
<!--        action=" % url 'app_kg_train:edit_file' file_id %}" -->
