<!doctype html>
{% load render_table from django_tables2 %}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Details for single folder </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    <h2>Folder name: {{ textfolder.folder_name }} </h2>
    <h3>Num pages in db: {{ textfolder.pages_db }} </h3>
    <h3>Pages:</h3>
    <!-- % render_table textfolder.table % -->
    {% render_table child_table %}
    <p>Form here:</p>
  </body>
</html>

