<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Details for single folder </title>
  </head>
  <body>
    <h2>Folder: {{ textfolder.folder_name }}</h2>
    <h3>Num Pages: {{ textfolder.pages_db }}</h3>
    <h3>Pages:</h3>
    {% for page in textfolder.textfile_set.all %}
        <li>{{ page.file_name }}</li>
    {% endfor %}
    <!-- div>{{ textfile.body.content | safe }}</div -->
    <p>Form here:</p>
    <!-- form action="{% url 'app_kg_train:edit_file' textfile.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Edit</button>
    </form -->
  </body>
</html>

