{% block title %}GISA | Compass Blue KGs | Folder Upload{% endblock title %}
{% block description %}Description here {% endblock description %}

{% load static %}
<script src="{% static 'folder_detail.js' %}></script>

{% load render_table from django_tables2 %}
{% block content %}
    <h3>Pages:</h3>
    {% render_table table %}
    <form action="{% url 'app_kg_train:edit_file' folder_id %}" method="get">
        {% csrf_token %}
        <button type="submit">Edit</button>
    </form>
{% endblock content %}
