<!doctype html>
{% load static %}
<link rel="stylesheet" href="{% static 'ny_viz/style.css' %}">
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Files uploaded to GISA</title>
  </head>
  <body>
    <p>Uploaded files and status:</p>
    {% if uploaded_files_list %}
        <ul>
        {% for file in uploaded_files_list %}
            <!-- MTW, note, this uses app_name=nys below -->
            <li><a href="{% url 'app_kg_train:detail' file.id %}">{{ file.file_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No files uploaded.</p>
    {% endif %}
    {% block content %}
        <form method="post" action="upload_form.html">
            {% csrf_token %}
            <button type="submit">Add New</button>
        </form>
    {% endblock %}
  </body>
</html>

