<!doctype html>
{% load static %}
{% load render_table from django_tables2 %}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Current labels (used in Prodigy / KG) </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    <h3>Labels:</h3>
    <!-- form onsubmit="return checkForSelected();" -->
    <!-- Was form action="{ % url 'app_kg_train:edit_file' folder_id %}" method="get" -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_table table %}
        <button type="submit" name="submit">Return</button>
    </form>
  </body>
</html>
