<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Details Ping Strategy Page</title>
  </head>
  <body>
    <h2>Config Ip Range Survey (geography and timing): </h2>
    <h3>Celery details (worker config): </h3>
    <p>{{ celery_stuff }} </p>

    <!-- use of app_name = nys below, csrf = cross site request forgeries -->
    <!-- form action=" stuff here url 'app_centralny:approve_ping' object.id  method="post" -->
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.errors }}
        {{ form.media }}
        {{ form.as_div }}
        <br>
        <button type="submit" name="configure_survey">Configure Survey</button>
        <button type="submit" name="build_whitelist">Build Whitelist</button>
        <button type="submit" name="start_ping">Start Ping</button>
        <button type="submit" name="return_to_map">Return to Map</button>
        {% csrf_token %}
    </form>
    <h3>Survey: </h3> {{ survey_id }} 
    <h3>Status: </h3> {{ status_message }} 
  </body>
</html>

        <!-- fieldset>
            <legend><h1>{{  object.ip_range.ip_range_start }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset -->
        <!-- input type="submit" value="Approve / Schedule" -->
