<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Ping Survey Config</title>
  </head>
  <body>
    <h2>Config Ip Range Survey (states and timing): </h2>
    <p>Current Time: <b>{{ current_time }}</b></p>
    <!-- use of app_name = nys below, csrf = cross site request forgeries -->
    <!-- form action=" stuff here url 'app_centralny:approve_ping' object.id  method="post" -->
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.errors }}
        {{ form.media }}
        {{ form.as_div }}
        <br>
        <button type="submit" name="configure_survey"
            {% if survey_status.value == 0 %} enabled {%else%} disabled {% endif %}>
            Configure Survey</button>
        <button type="submit" name="build_whitelist"
            {% if survey_status.value == 1 %} enabled {%else%} disabled {% endif %}>
            Build Whitelist</button>
        <button type="submit" name="start_ping" {% if survey_status.value == 2 %} enabled  {%else%} disabled {% endif %}>
            Ping (Immediately)</button>
        <button type="submit" name="schedule_survey" {% if survey_status.value == 2 %} enabled  {%else%} disabled {% endif %}>
            Schedule Survey</button>
        {% csrf_token %}
    </form>
    <h3>Status: </h3> {{ status_message }} 
  </body>
</html>
<!--  _% if survey_status.value == 3 %_ enabled  _%else%_ disabled _% endif %_ -->
