<!doctype html>
{% load static %}
{% load render_table from django_tables2 %}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Currently configured tasks (in the db) </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- script type='module' defer src="{% static 'kg_train/folder_detail.js'%}" crossorigin=""> </script -->
  </head>
  <body>
    <h3>Current Celery Tasks:</h3>
    <!-- form onsubmit="return checkForSelected();" -->
    <!-- Was form action="{ % url 'app_kg_train:edit_file' folder_id %}" method="get" -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_table table %}
        <button type="submit" name="details">Details</button>
        <button type="submit" name="cancel">Cancel</button>
    </form>
  </body>
</html>
